.header {
    position: absolute;
    padding: 20px 0px;
    width: 100%;
    
}

.container  {
    max-width: 1200px;
    margin: 0 auto;
}

.header .header__container .header__container-logo a{
    color: #000;
    text-decoration: none;
}

.header .header__container  {
    display:    flex;
    justify-content: space-between;
    align-items: center;
}

.header .header__container  .header__container-setting i{
    display: inline-block;
    font-size: 20px;
    padding-left: 10px;
}

.banner {
    background-image: url('./img/banner.png');
    width:100%; 
    height: 100vh;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center center;
}

.banner .banner__container  {
    position: relative;
    height: 100%;
}

.banner .banner__container  .banner__content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.banner .banner__container  .banner__content    .banner__title>span  {
    display: block;
}

.banner .banner__container  .banner__content    .banner__title  .sub  {
    font-size: 40px;
}

.banner .banner__container  .banner__content    .banner__title  .title  {
    font-size: 60px;
    
}

.banner .banner__container  .banner__content    .banner__title  .sub:after{
    content: "";
    width: 60px;
    height: 2px;
    display: block;
    background-color: #ff4c4c;
}

.banner .banner__container  .banner__content    .banner__title  .red    {
    color: #ff4c4c;
}

.banner .banner__container  .banner__content    .banner__des    {
    width: 50%;
    padding-top: 20px;
    padding-bottom: 30px;
}

.banner .banner__container  .banner__content    .banner__button .banner__button-reserve {
    background-color: #ff4c4c;
    padding: 12px 25px;
    text-transform: uppercase;
    border: none;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    font-size: 15px;
    transition: all 0.25s ease-in-out;
}

.banner .banner__container  .banner__content    .banner__button .banner__button-reserve:hover   {
    background-color: #0099e5;
}

.banner .banner__container  .banner__content    .banner__button {
    display: flex;
    align-items: center;
}

.banner .banner__container  .banner__content    .banner__button .banner__button-video   {
    margin-left: 20px;
    border: none;
    background: none;
    font-size: 15px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

.banner .banner__container  .banner__content   .banner__button .banner__button-video   i{
    color: #ff4c4c;
    width: 40px;
    height: 40px;
    font-size:  20px;
    margin-right: 10px;
    background-color:#f3caca;
    line-height: 40px;
    border-radius: 50%;
}

.banner .banner__container  .banner__content   .banner__button .banner__button-video:hover  span{
    color: #ff4c4c;
    transition: all 0.25s ease-in-out;
}

/* Style cho CTA */
.cta    {
    padding: 48px 0px;
}

.cta .cta__container .cta__subtitle{
    text-align: center;
    margin-bottom: 8px;
    margin-top: 0px;
    font-size: 17px;
    color: #707070;
}

.cta .cta__container .cta__title {
    text-align: center;
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 24px;
}

.cta .cta__container .cta__des   {
    width: 800px;
    text-align: center;
    margin: 0px auto;
    color: #707070;
    font-size: 20px;
}

.cta .cta__container .cta__button {
    text-align: center;
    margin-top: 48px;
}

.cta    .cta__container .cta__button    button{
    background-color: #ff4c4c;
    border: none;
    font-size: 15px;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    padding: 15px   25px;
}

.cta    .cta__container .cta__button:hover    button{
    background-color: #007cba;
    transition: all 0.25s ease-in-out;
}
/* Style cho CTA */


/* Style cho wwd */
.wwd    {
    padding: 48px   0px;
}

.wwd    .wwd__container .wwd__whatwedo  {
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 48px;
}
.wwd    .wwd__container .wwd__whatwedo  .wwd__hedding {
    font-size:  42px;
    color: #060606;
    margin-bottom: 8px;
    margin-top: 0px;
    text-align: center;
    
}

.wwd    .wwd__container .wwd__whatwedo  .wwd__hedding::before{
    content: '';
    margin: 0 auto; 
    display: block;  
    width: 40px;
    height:4px;
    margin-bottom: 5px;
    background-color:#ff4c4c;
    transform: translateX(-95px);
}

.wwd .wwd__container .wwd__whatwedo .wwd__des   {
    font-size:20px;
    width: 770px;
    margin: 0px auto;
    color:#707070;
    text-align: center;
    
}

.wwd .wwd__container .wwd__feature   {
    width: 1200px;
    margin: 0px auto;
    display:flex;
    text-align: center;
    padding: 48px   15px;
}

.wwd .wwd__container .wwd__feature  .wwd__content {
    margin: 12px;
    border: 1px solid;
    border-color: #eee;
    
}

.wwd .wwd__container .wwd__feature  .wwd__content:hover {
    box-shadow: 0px 17px 26px -16px rgb(0 0 0 / 41%);
    transition: all 0.25s ease-in-out;
}

img {
    max-width: 100%;
    height: auto;
}

.wwd .wwd__container .wwd__feature  .wwd__content   .wwd__img   {
    padding: 12px;
}

.wwd .wwd__container .wwd__feature  .wwd__content   .wwd__img   .wwd__text {
    margin: 20px    0px;
}

.wwd .wwd__container .wwd__feature  .wwd__content   .wwd__img   .wwd__text  .wwd__title {
    font-size:22px;
    margin: 0px 0px 10px;
}

.wwd .wwd__container .wwd__feature  .wwd__content   .wwd__img   .wwd__text  .wwd__des   {
    font-size: 17px;
    color: #707070;
    margin: 0px;
    
}


.wwd .wwd__container .wwd__feature  .wwd__content   .wwd__img   .wwd__text  .wwd__button   {
    margin: 30px;
    border: none;
    font-size: 14px;
}

.wwd .wwd__container .wwd__feature  .wwd__content   .wwd__img   .wwd__text  .wwd__button    button{
    padding: 8px 20px;
    background-color: #ff4c4c;
    color: #eee;
    font-size: 14px;
    text-transform: uppercase;
    border: none;
    
}

.wwd .wwd__container .wwd__feature  .wwd__content   .wwd__img   .wwd__text  .wwd__button:hover    button{
    background-color: #0099e5;
    transition: all 0.25s ease-in-out;
}


/* Style cho wwd */

/* Style cho customer says*/
.customer{
    padding: 48px   0px;
    font-size:  16px;
    background-image: url(https://wp.w3layouts.com/beauty-skin/wp-content/themes/beauty-skin/assets/images/bg1.jpg);
    position: relative;
}
.customer:after{
    content: "";   
    background-color: rgb(0 0 0 / 39%);
    display: block;
    width: 100%;   
    height: 100%;
    position: absolute;  
    z-index: 1;
    top: 0;
    left: 0;
}
.customer .customer__container  {
    padding: 48px   15px;
    max-width: 1200px;
    position: relative;
    z-index: 2;
}

.customer .customer__container  .customer__content  .customer__title    {
    padding: 0px    0px 48px;
    width: 720px;
    margin: 0px auto;
    text-align: center;
    color: #eee;
}

.customer .customer__container  .customer__content  .customer__title    .customer__headding {
    font-size:  42px;
    margin: 0px 0px 8px;
    text-transform: capitalize;
} 

.customer .customer__container  .customer__content  .customer__title    .customer__headding::before {
    content: "";
    background-color: #ff4c4c;
    display: block;
    margin: 0   auto;
    width: 40px;
    height: 4px;
    transform: translatex(-115px);
}


.customer .customer__container  .customer__content  .customer__title    .customer__des  {
    font-size:  17px;
}

.customer   .customer__container  .customer__content    .customer__caption  {
    width: 1200px;
    display: inline-flex;
    justify-content: center;
    text-align: center;
}

.customer   .customer__container  .customer__content    .customer__caption  .customer__caption-item {
    padding: 24px;
    font-size: 16px;
    background: #fff;
    margin: 0px 15px;
    border-radius: 10px;
    box-shadow: 1px 1px 11px 1px rgba(175, 174, 174, 0.486);
}

.customer   .customer__container  .customer__content    .customer__caption  .customer__caption-item:first-child{
    margin-left: 0px;
}

.customer   .customer__container  .customer__content    .customer__caption  .customer__caption-item:last-child{
    margin-right: 0px;
}

.customer   .customer__container  .customer__content    .customer__caption  .customer__caption-item .customer__des {
    font-size: 17px;
    color: #707070;
    margin: 0px;
    position: relative;
}

.customer   .customer__container  .customer__content    .customer__caption  .customer__caption-item .customer__des::before{
    position: absolute;
    content: "\f10d";
    color: #0099e5;
    font-size: 20px;
    top:0px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    left: 0px;
    transform: translateY(-100%);
}

.customer   .customer__container  .customer__content    .customer__caption  .customer__caption-item .customer__author  {
    margin: 24px    0px 0px;
    font-size: 16px;
    width: 100%;
    height: auto;
    display: inline-flex;
    text-align: center;
}

.customer   .customer__container  .customer__content    .customer__caption  .customer__caption-item .customer__author  .customer__img img{
    border-radius: 50%;

}

.customer   .customer__container  .customer__content    .customer__caption  .customer__caption-item .customer__author  .customer__img   {
    font-size: 16px;
    height: 16px;
    width: 90px;
}

.customer   .customer__container  .customer__content    .customer__caption  .customer__caption-item .customer__author  .customer__text  {
    font-size: 16px;
    text-align: left;
    
}

.customer   .customer__container  .customer__content    .customer__caption  .customer__caption-item .customer__author  .customer__text  .customer__hedding {
    font-size: 20px;
    height: 16px;
    margin: 0px;
}

.customer   .customer__container  .customer__content    .customer__caption  .customer__caption-item .customer__author  .customer__text  .customer__here    {
    font-size: 14px;
    color: #707070;
}
/* Style cho customer says */

/* style cho Our Team */
.ot {
    font-size: 16px;
    padding: 48px    0px;
    text-align: center;
    background-color: #eee;
}

.ot .ot__container  {
    padding: 48px   0px;
}

.ot .ot__container  .ot__content .ot__text   {
    max-width: 1200px;
    margin: 0   auto;
    text-align: center;
    padding: 0px    15px;
}

.ot .ot__container  .ot__content .ot__text  .ot__team   {
    max-width: 800px;
    margin: 0   auto;
    text-align: center;
}

.ot .ot__container  .ot__content .ot__text  .ot__ourteam    {
    font-size: 42px;
    text-transform: capitalize;
    margin: 0px 0px 8px;
}

.ot .ot__container  .ot__content .ot__text  .ot__ourteam::before {
    content: "";
    display: block;
    background-color: #ff4c4c;
    width: 40px;
    height: 2px;
    margin: 0   auto;
    transform: translatex(-75px);
}

.ot .ot__container  .ot__content .ot__text  .ot__des  {
    font-size: 20px;
    color: #707070;
    margin: 0px 0px 48px;
}


img {
    max-width: 100%;
    height: auto;
}

.ot__container .ot__content .ot__item   {
    display: inline-flex;
    max-width: 1200px;
    
}

.ot__container .ot__content .ot__item   .ot__people { 
    margin: 0px 15px;
    background-color: #f8f9fa;
}

.ot__container .ot__content .ot__item   .ot__people .ot__girl {
    padding: 10px;
    border: 1px solid;
    border-color: #f4f4f4 ;
}

.ot__container .ot__content .ot__item   .ot__people .ot__girl    .ot__img{
    position: relative;
    overflow-y: hidden;
}

.ot__container .ot__content .ot__item   .ot__people .ot__girl    .ot__img img{
    display: block;
    Object-Fit: cover;
    object-position: center;
}

.ot__container .ot__content .ot__item   .ot__people .ot__girl   .ot__img .ot__icon {
    padding: 20px   0px;
    background-color: rgb(8 8 8 / 29%);
    transform: translateY(110px);
    transition: all 0.5s;
    position: absolute;
    bottom: 1px;
    width: 100%;
}  

.ot__container .ot__content .ot__item   .ot__people .ot__girl .ot__img .ot__icon   i{
    padding: 10px;
    color: #ff4c4c;
    background-color: #f8f9fa;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    line-height: 20px;
}


.ot__container .ot__content .ot__item   .ot__people .ot__girl:hover   .ot__img .ot__icon{
    transform: translateY(0px)
}






.ot__container .ot__content .ot__item   .ot__people .ot__girl   .ot__name   {
    padding: 24px;
}

.ot__container .ot__content .ot__item   .ot__people .ot__girl   .ot__name   .ot__olive  {
    font-size: 26px;
    margin: 0px 0px 8px;
}

.ot__container .ot__content .ot__item   .ot__people .ot__girl   .ot__name   .ot__here {
    font-size: 17px;
    color: #707070;
    margin: 0px;
}

.ot__container .ot__content .ot__item   .ot__people .ot__girl   .ot__name   .ot__olive:hover    {
    color: #ff4c4c;
}

/* style cho Our Team */

/* style cho footer*/
.footer {
    padding: 48px   0px;
    background-color: #000;
}

.footer .footer__container .footer__text {
    color: #eee;
    font-size: 16px;
    
}

.footer .footer__container .footer__text    .footer__all    {
    margin: 0   auto;
    width: 1200px;
    height: auto;
    display: flex;
    text-align: center;
    font-size: 16px;
    height: auto;
}

.footer .footer__container .footer__text    .footer__all    .footer__icon {
    font-size: 16px;
    padding: 0 15px;
    width: 400px;
}

.footer .footer__container .footer__text    .footer__all    .footer__icon   i{
    margin: 10px;
    border-radius: 50% ;
    background-color: #707070;
    width: 40px;
    height: 40px;
    line-height: 40px;
}

    
    

.footer .footer__container .footer__text    .footer__all    .footer__logo   {
    width: 400px;
    padding: 0 15px;
    font-size: 32px;
    text-align: center;
    
}

.footer .footer__container .footer__text    .footer__all    .footer__des    {
    width: 400px;
}

/* style cho footer*/



